body {
    margin: 0;
    padding: 0;
    
}


section {
    width: 100%;
    height: 100vh;
}

/* testing */

.slider{
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    background-image:url('/assets/ikan2.png');
    background-size: cover;
}

.slide{
    display: block;
    width: 100vw;
    height: 418px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Outfit;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 181px;
    padding-left: 70px;
}
.slide button{
    width: 186px;
    height: 56px;
    border-radius: 10px;
    background: rgba(31, 33, 29, 0.60);
    color: #FFF;
    font-family: Outfit;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}
.slide button:hover{
    transition: all 0.3s ease-in-out;
    background: rgba(31, 33, 29, 0.80);
    color: #FFF;
}

.slider img {
    width: 100%;
    height: auto;
}

.slider-dots {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    position: relative;
    z-index: 100;
}

.dot {
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.active-dot {
    background-color: rgba(0, 0, 0, 0.6);
}

/* testing */

.set-jumbotron {
    width: 100%;
    height: 418px;
    margin-bottom: 21px;
}

.main-content {
    width: 100vw;
    height: fit-content;
}

/* card */

.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}

.box-card-content{
    width: 304px;
    height: 241px;
    background-color: rgb(255, 255, 255);
    margin-left: 35px;
    margin-right: 35px;
    display: block;
    margin-bottom: 30px;
}
.box-card-content img{
    width: 304.4px;
    height: 150px;
}
.text-content-card{
    margin: 10px;
    padding-bottom: 10px;
    color: #000;
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-content-card button{
    width: 73px;
    height: 24px;
    border-radius: 10px;
    background: rgba(31, 33, 29, 0.60);
    color: #FFF;
    /*  */
    font-family: Outfit;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /*  */
    border: none;
}
